:root {
    --background: #E6E6E9;
    --font: #636366;
    --cardContentBackground: #88a2aa;
    
    --certiGeneral: #C8E6C9;
    --certi14: #FFCDD2;
    --certiPg: #FEEDAF;
        
    --title_font: 'Libre Baskerville', serif;
    --card_font: 'Lora', serif;    
    --basic_font: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}


.datatable-skyit {

    background-color: var(--background);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {    
    z-index: 1;
    width: 90%;
    height: 100vh;
    margin: auto;
    position: absolute;    
}

.table h2 {
    font-weight: normal;
    color: var(--font);
    font-family: var(--title_font);
}

.popup_detail {
    
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 10;
    background-color: rgba(99,99,102,0.7);
    
    display: none;
    position: absolute;

    flex-direction: column;
    justify-content: center;
}

.popup_detail .popup_card {
    
    align-self: flex-end;
    height: auto;
    width: 600px;
    margin-right: 10px;
    
}

.popup_card {
    width: 100%;
    display: flex;
}

.popup_card .p-card-body {
    width: 100%;    
}

.cardTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    position:relative;
    box-sizing: border-box;
}

.titleName {
    align-self: flex-start;
    font-size: 20px;
}

.closeButton {
    font-size: 16px;
    
    align-self: center;
    position:absolute;
    right:0;    
}

.p-button-icon {
    color: var(--font);
}

.p-card .p-card-title {
    margin-bottom: 0px;
}

.p-card-content {
    border-radius: 5px;
    font-family: var(--card_font);
    width: 100%;
    height: fit-content;
    position:relative;
    background-color: var(--cardContentBackground);
    text-align: left;    

    display:flex;
    flex-direction: column;
}

.p-card-content ul {
    padding: 0px 15px 0px 15px;
    margin: 5px;
    width: 100%;
    list-style: none;   
}

.p-card-content li {
    min-width: fit-content;   
}

.p-card-content p {
    max-height: 450px;
    margin: 5px;
    padding: 0px 15px 0px 15px;
    overflow: auto;    
}

.p-card-content h1 {
    font-size: 30px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.p-card-content h4 {
    font-weight: bold;
    font-family: var(--basic_font);
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


.li-title {
    font-size: 23px;
    float:left;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.li-content {
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px; 
    background-color: var(--background);
    border-radius: 25px;
    float:left;
}

.p-ard-content .genre {
    margin-top: 10px;
}

.p-card-footer {
    margin-top: 35px;
    text-align: right;
}

.p-column-filter {
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
}

.certification-General {
    
    max-width: fit-content;
    font-size: small;
    font-weight: bolder;
    padding: 8px 6px 6px 6px;
    color: #036907;
    background-color: var(--certiGeneral);    
}

.certification-CA-PG {

    max-width: fit-content;
    font-size: small;
    font-weight: bolder;
    padding: 8px 6px 6px 6px;
    background-color: var(--certiPg);
    color: #8c7522;
    
}

.certification-14Accompaniment {

    max-width: fit-content;
    font-size: small;
    font-weight: bolder;
    padding: 8px 6px 6px 6px;
    background-color: var(--certi14);
    color: #b55b64; 
    
}