.datatable-skyit {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    
    z-index: 1;
    width: 90%;
    height: 100vh;
    margin: auto;
    position: absolute;
    
}

.popup_detail {
    
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    
    display: none;
    position: absolute;

    flex-direction: column;
    justify-content: center;
}

.popup_detail .popup_card {
    
    align-self: flex-end;
    height: auto;
    width: 500px;
    margin-right: 10px;
}

.popup_card {
    width: 100%;
    display: flex;
}

.popup_card .p-card-body {
    width: 100%;
}

.cardTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    position:relative;

    box-sizing: border-box;
}

.titleName {
    align-self: flex-start;
}

.closeButton {
    align-self: center;
}

.card-content {
    width: 100%;
    height: 100%;
    position:relative;
    background-color: thistle;
    text-align: left;
    padding: 5px;

    display:flex;
    flex-direction: column;
}

.card-content ul {
    padding: 0;
    margin: auto;
    width: 100%;
    list-style: none;   
}

.card-content li {
    min-width: fit-content;   
}

.li-title {
    font-size: 20px;
    float:left;
    padding:10px;
}

.li-content {
    margin-right: 5px;
    margin-bottom: 5px;
    padding:10px;
    background-color: tomato;
    border-radius: 5px;
    float:left;
}

.p-multiselect-label-container {
    width: 100px;
}